<aside class="aside-left">
  <div class="header-aside">
      <h1 class="title"><img src="{{asset('bundles/images/logo.png')}}" alt="image_logo" class="logo"><a href="{{ path('fos_user_profile_show') }}">Workplace</a></h1>
  </div>
  <article class="sidebar">
      <nav class="menu_aside">
          <ul>
              <li><a class="active" href="#!"><i class="material-icons">dashboard</i>Dashboard</a></li>
              <li><a href="{{path('fos_user_profile_show')}}"><i class="material-icons">face</i>Profil</a></li>
              <li><a href="{{path('client')}}"><i class="material-icons">group</i>Clients</a></li>
              <li><a href="#!"><i class="material-icons">folder</i>Projets</a></li>
              <li><a href="#!"><i class="material-icons">insert_drive_file</i>Factures et devis</a></li>
              <li><a href="#!"><i class="material-icons">pie_chart</i>Graphique</a></li>
          </ul>
      </nav>
  </article>
</aside>
