<header class=" container header">
  <section class="header--user">
    <a href="{{path('fos_user_security_logout')}}" class="disconect--user"><i class="material-icons">power_settings_new</i></a>
    <p class="text--user">{{ user.username }}</p>
    <p class="text--user">{{ user.firstname}}</p>
    <div class="img--user">
      <img src="{{ asset('/bundles/images/' ~ user.picture) }}" alt="img-profil">
    </div>
  </section>
</header>
